extends /pug/includes/template
mixin color(cname,code,sassName,cssName)
  .color-card.s-shadow-bottom(class=cssName)
    .s-ratio-2-1.s-bg-blue.s-radius-tl.s-radius-tr
    .s-border.s-pxy-2.small.s-center.s-radius-br.s-radius-bl.s-bg-white
      .t4= cname
      .s-mb-1.s-opacity-7= code
      .color__code Sass name: <code>$#{sassName}</code>
      .color__code CSS name: <code>--#{cssName}</code>

append config
  -currentPage = 'colores'

block main
  h1 Colores
  p Esta guia define el concepto visual, patrones de dise침o y estructura para proyectos web en EDteam.
  p Esta guia se encuentra en constante actualizaci칩n.

  p Tabla de colores:

  .ed-grid.m-grid-2.lg-grid-3.rows-gap.l-block
    +color('Principal', '#007BDF', 'firstColor', 'first-color')
    +color('Principal Alt', '#006DC6', 'firstColorAlt', 'first-color-alt')

    +color('Secundario', '#00CBFF', 'secondColor', 'second-color')
    +color('Secundario Alt', '#00BFF0', 'secondColorAlt', 'second-color-alt')

    +color('Terciario', '#FF3C32', 'thirdColor', 'third-color')
    +color('Terciario Alt', '#FF2419', 'thirdColorAlt', 'third-color-alt')

    +color('Cuaternario', '#FF3C32', 'fourthColor', 'fourth-color')
    +color('Cuaternario Alt', '#FF2419', 'fourthColorAlt', 'fourth-color-alt')

    +color('Enf치sis', '#FBA905', 'accentColor', 'accent-color')
    +color('Enf치sis Alt', '#F1A000', 'accentColorAlt', 'accent-color-alt')

    +color('Oscuro', '#282D31', 'darkColor', 'dark-color')
    +color('Oscuro Alt', '#141618', 'darkColorAlt', 'dark-color-alt')

    +color('Bordes', '#DFE0E0', 'borderColor', 'border-color')
    +color('Texto', '#53575A', 'textColor', 'text-color')
    +color('Body BG', '#FAFDFF', 'bodyBg', 'body-bg')
